<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
  <div id ="div_root">
    <div id='blog_top' style="height:180px; width:100%; text-align: center; overflow: hidden;" ><img src='<%=alldata.image_url%>' style = "width:100%; position : relative; top: <%=alldata.image_xpoint %>" /></div>
    <div id = 'div_menu'>
        <% var menuarray = alldata.menu.split(',');
        for(var i=0; i<menuarray.length;i++) {%>
            <div id = 'menu<%=i%>' name = 'menu<%=i%>' align ='center' style ="cursor:pointer;" onclick="return menu_click('<%=i%>')"><%=menuarray[i] %></div>
        <%};%>
    </div>
    <div id ="div_con">
    <%if(name == "0"){%>
      <div id = "div_bloglogin" class="login" style="cursor: pointer;" onclick="return but_click()">로그인/회원가입</div>
    <% }else{ %>
      <div id = "div_bloglogin" class="login_name"><%= name.user[0] %>님
        <form action ="/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
        <%if(login == name.user[1]){ %>
            <button type="button" onclick="return but_click2()">블로그 수정</button>
        <% } %>
      </div>
    <% } %>
    <button class="btn_show" style="padding:3px">show</button>
    <button class="btn_hide" style="padding:3px">hide</button>

<div class="btn_word">Hello world!!!</div>



</body>

<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.0.min.js" ></script>
<script type="text/javascript">
$(function(){
  $('.btn_show').click(function(){
    $('.btn_word').show();
  });
  $('.btn_hide').click(function(){
    $('.btn_word').hide();
  });
});
</script>
<script>
      function but_click(){
        var url = location.pathname
        location.href = "/blog_login"+url
      }
      function but_click2(){
        var url = location.pathname
        var re_url = url.replace("/blog_login","")
        re_url = re_url.replace("/save_ok","")
        location.href = re_url+"/edit"
      }

      // window.onload = function() {
        
      // };
      function menu_click(i){
        // console.log(document.getElementById("menu"+i).innerText)
        // console.log(location.pathname)
        location.href = location.pathname+"/"+ document.getElementById("menu"+i).innerText
      }
   </script>

</html>