<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
        <% include ../partials/head %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    var img_L = 0;
    var img_T = 0;
    var targetObj;
    var timer;
    var istrue = false;

    function mouse_onclick(e){
        startDrag(e,this)
    }

    // function getLeft(o){
    //     return parseInt(o.style.left.replace('px', ''));
    // }
    function getTop(o){
        return parseInt(o.style.top.replace('px', ''));
    }
    function startDrag(e, obj){
        targetObj = obj;
        var e_obj = window.event? window.event : e;
        // img_L = getLeft(obj) - e_obj.clientX;
        img_T = getTop(obj) - e_obj.clientY;

        document.onmousemove = moveDrag;
        document.onmouseup = stopDrag;
        if(e_obj.preventDefault)e_obj.preventDefault();
    }
    function moveDrag(e){
        var e_obj = window.event? window.event : e;
        // var dmvx = parseInt(e_obj.clientX + img_L);
        var dmvy = parseInt(e_obj.clientY + img_T);
        // targetObj.style.left = dmvx +"px";
        targetObj.style.top = dmvy +"px";
        
        return false;
    }

    function stopDrag(){
        const target = document.getElementById('prev_previewId');

        // const clientRect = target.getBoundingClientRect(); // DomRect 구하기 (각종 좌표값이 들어있는 객체)
        // const relativeTop = clientRect.top; // Viewport의 시작지점을 기준으로한 상대좌표 Y 값.
        // const scrolledTopLength = window.pageYOffset;
        // const absoluteTop = scrolledTopLength + relativeTop;
        // document.getElementById("image_xpoint").value = absoluteTop;  좌표 절대값 구하는법
        
        document.getElementById("image_xpoint").value = targetObj.style.top;

        document.onmousemove = null;
        document.onmouseup = null;
    }

    function previewImage(targetObj, previewId) {

        var preview = document.getElementById(previewId); //div id  
        var ua = window.navigator.userAgent;

        if (ua.indexOf("MSIE") > -1) {//ie일때

            targetObj.select();

            try {
                var src = document.selection.createRange().text; // get file full path
                var ie_preview_error = document
                        .getElementById("ie_preview_error_" + previewId);

                if (ie_preview_error) {
                    preview.removeChild(ie_preview_error); //error가 있으면 delete
                }

                var img = document.getElementById(previewId); //이미지가 뿌려질 곳
   
                img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+ src + "', sizingMethod='scale')";
            } catch (e) {
                if (!document.getElementById("ie_preview_error_" + previewId)) {
                    var info = document.createElement("<p>");
                    info.id = "ie_preview_error_" + previewId;
                    info.innerHTML = "a";
                    preview.insertBefore(info, null);
                }
            }
        } else { //ie가 아닐때
            var files = targetObj.files;
            for ( var i = 0; i < files.length; i++) {

                var file = files[i];

                var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
                if (!file.type.match(imageType))
                    continue;

                var prevImg = document.getElementById("prev_" + previewId); //이전에 미리보기가 있다면 삭제
                if (prevImg) {
                    preview.removeChild(prevImg);
                }

                var img = document.createElement("img");
                img.id = "prev_" + previewId;
                img.classList.add("obj");
                img.file = file;
                img.style.position = 'relative';
                // img.style.left = '0px';
                img.style.top = '0px';
                img.style.width = '100%';
                // img.style.max-width = '100%';
                img.style.cursor = 'pointer';
                img.style.cursor = 'hand';
                img.style.overflow = 'hidden';
                img.addEventListener("mousedown", mouse_onclick, false);
                preview.appendChild(img);

                if (window.FileReader) { // FireFox, Chrome, Opera 확인.
                    var reader = new FileReader();
                    reader.onloadend = (function(aImg) {
                        return function(e) {
                            aImg.src = e.target.result;
                        };
                    })(img);
                    reader.readAsDataURL(file);
                } else { // safari is not supported FileReader
                    //alert('not supported FileReader');
                    if (!document.getElementById("sfr_preview_error_"
                            + previewId)) {
                        var info = document.createElement("p");
                        info.id = "sfr_preview_error_" + previewId;
                        info.innerHTML = "not supported FileReader";
                        preview.insertBefore(info, null);
                    }
                }
            }
        }
    }
    function clik_eve(){
        var fileupload = document.getElementById("file_sel");
        var but = document.getElementById("previewId");
        but.ondblclick = function () {
            fileupload.click();
        };
    }
    function button_menuadd(){
        var input = document.createElement("input");
        var div_add = document.getElementById("menubarbasicid");
        input.type = "text"
        input.id = "menuaddid"
        input.name = "menuaddname"
        input.align = "center"
        input.style.width ='100%'
        input.value  = document.getElementById("add").value

        document.getElementById("add").value = null;

        div_add.appendChild(input);
    }

</script>

</head>
<body>
    <form action="<%=re_url%>" method="post"  enctype="multipart/form-data" id="upload_form" runat="server">
        <input type="file" id="file_sel" name ="file_sel" onchange="previewImage(this,'previewId')" style="display:none" accept="image/*">
        <input type = "text" id ="image_xpoint" name ="image_xpoint" style="display:none" value ="<%=alldata.image_xpoint %>" />
        <div id ="div_root">
            <div id='previewId' style="cursor:pointer; height:180px; width:100%; text-align: center; overflow: hidden;" ondblclick="clik_eve()">

            <img id ="prev_previewId" class="obj" src='<%=alldata.image_url%>' style = "width:100%; position : relative; top: <%= alldata.image_xpoint %>;" onmousedown='startDrag(event,this)' />

            </div>
            <div id ='menubarbasicid' name='menubarbasicname' style=" width:20%; height:300px; float:left;">
                <input type="text" id='menuaddid' name='menuaddname' align="center" style='width:100%' value ="약속" />
                <input type="text" id='menuaddid' name='menuaddname' align="center" style='width:100%' value ="중요한글" />
                <input type="text" id='menuaddid' name='menuaddname' align="center" style='width:100%' value ="리뷰글" />
            </div>
            <input type = "text" id ="blog_url" name ="url" value="<%=url%>" style="display:none" />
            <form>
                <input id ="add">
                <input type="button" id ="menuadd" onclick = "button_menuadd()" value="메뉴 추가" />
            </form>
        <input type="submit" value="올리기">
    </form>

</body>
</html> 