<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
  <div id ="div_root">
    <div id='blog_top' style="height:180px; width:100%; text-align: center; overflow: hidden;" ><img src='<%=alldata.image_url%>' style = "width:100%; position : relative; top: <%=alldata.image_xpoint %>" /></div>
    <div id = 'div_menu'>
        <% var menuarray = alldata.menu.split(',');
        for(var i=0; i<menuarray.length;i++) {%>
            <div id = 'menu<%=i%>' name = 'menu<%=i%>' align ='center' style ="cursor:pointer;" onclick="return menu_click('<%=menuarray[i]%>')"><%=menuarray[i] %></div>
        <%};%>
    </div>
    <div id ="div_con">
    <%if(name == "0"){%>
      <div id = "div_bloglogin" class="login" style="cursor: pointer;" onclick="return but_click()">로그인/회원가입</div>
    <% }else{ %>
      <div id = "div_bloglogin" class="login_name"><%= name.user[0] %>님
        <form action ="/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
        <%if(login == name.user[1]){ %>
            <button type="button" onclick="return but_click2()">블로그 수정</button>
        <% } %>
      </div>
    <% } %>
    <div id = "div_input">
      <form>
        <select id="input_selecter" name = "inputsel">
          <option value ="id" selected ="selected">아이디</option>
          <option value ="location">위치</option>
          <option value ="content">내용</option>
        </select>
        <input id="input_box" type="text" placeholder="검색어 입력">
        <button id = "input_button">검색</button>
      </form>
    </div>

    <div id ="div_title"><%=alldata.de_menu %></div>
    <table class="table table-sm table-dark" style="width: 70%; margin-left:auto; margin-right:auto;">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">게시글</th>
            <th scope="col">올린 사람</th>
            <th scope="col">날짜</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>
              <td colspan="3" style="text-align:right; cursor: pointer;" onclick="return contentadd()">글쓰기</td>
            </th>
          </tr>
        </tbody>
      </table>
  </div>


</body>

<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.0.min.js" ></script>

<script type="text/javascript">
      function but_click(){
        var url = location.pathname
        location.href = "/blog_login"+url
      }
      function but_click2(){
        var url = location.pathname
        var re_url = url.replace("/blog_login","")
        re_url = re_url.replace("/save_ok","")
        location.href = re_url+"/edit"
      }

      // window.onload = function() {
        
      // };
      function menu_click(url_name){
        var basic_url = location.pathname.split('detail')
        location.href = basic_url[0] +"detail/"+ url_name
      }
      function contentadd(){
        alert("글쓰기")
        var url = location.pathname
        location.href = url+"/edit"
      }
   </script>

</html>